<section class="container" id="do-it">
  <h2 class="do-it-heading">Как мы это делаем</h2>
  <ul class="do-it-list list">
    <li class="do-it-item">
      <div class="do-it-svg-icon">
        <svg class="do-it-svg" width="45.4" height="48">
          <use href="./images/svg/sprite.svg#icon-study-program"></use>
        </svg>
      </div>
      <h3 class="do-it-title">Адаптированная программа подготовки к ВНО</h3>
      <div class="do-it-line">—</div>
      <p class="do-it-text">
        Ты будешь изучать грамматику и лексику одновременно. И ты научишься
        писать сочинения.
      </p>
    </li>
    <li class="do-it-item">
      <div class="do-it-svg-icon">
        <svg class="do-it-svg" width="48" height="47">
          <use href="./images/svg/sprite.svg#icon-mobile-learning"></use>
        </svg>
      </div>
      <h3 class="do-it-title">Аудитория и онлайн-обучение</h3>
      <div class="do-it-line">—</div>
      <p class="do-it-text">
        Учитель поможет не только в аудитории, но и во время домашней
        подготовки. Родители могут участвовать в чате при желании.
      </p>
    </li>
    <li class="do-it-item">
      <div class="do-it-svg-icon">
        <svg class="do-it-svg svg-fill" width="68" height="48">
          <use href="./images/svg/sprite.svg#icon-open-book"></use>
        </svg>
      </div>
      <h3 class="do-it-title">Привычка читать на английском языке</h3>
      <div class="do-it-line">—</div>
      <p class="do-it-text">
        Статьи из источников, которые используются при разработке настоящего
        ВНО, будут приходить на телефон дважды в неделю.
      </p>
    </li>
    <li class="do-it-item">
      <div class="do-it-svg-icon">
        <svg class="do-it-svg" width="48" height="48">
          <use href="./images/svg/sprite.svg#icon-group"></use>
        </svg>
      </div>
      <h3 class="do-it-title do-it-tittle-size">Психологическая поддержка</h3>
      <div class="do-it-line">—</div>
      <p class="do-it-text">
        Мы научим тебя методикам прохождения тестирований, умению планировать
        свою подготовку уверенности в себе.
      </p>
    </li>
    <li class="do-it-item">
      <div class="do-it-svg-icon">
        <svg class="do-it-svg" width="40" height="48">
          <use href="./images/svg/sprite.svg#icon-female-student"></use>
        </svg>
      </div>
      <h3 class="do-it-title">Обучение по авторским пособиям</h3>
      <div class="do-it-line">—</div>
      <p class="do-it-text">
        Тебе не нужно тратить время на самостоятельный поиск материала и ничего
        покупать дополнительно. Мы составили 2 пособия для тебя.
      </p>
    </li>
    <li class="do-it-item">
      <div class="do-it-svg-icon">
        <svg class="do-it-svg" width="57" height="48">
          <use href="./images/svg/sprite.svg#icon-audio-book"></use>
        </svg>
      </div>
      <h3 class="do-it-title">Умение воспринимать устную английскую речь</h3>
      <div class="do-it-line">—</div>
      <p class="do-it-text">
        “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и разбирать
        аудиозаписи в соответствии с изучаемой лексикой.
      </p>
    </li>
  </ul>
</section>
