<section class="main-problems-section">
  <div class="container">
    <div class="title-container">
      <h2 class="section-title">
        Главные проблемы учеников на<span lang="en"> English</span> ВНО, которые
        мы <span class="accent-color"> помогаем</span> решить
      </h2>
    </div>
    <div class="problems-container">
      <ul class="problems-list list">
        <li class="problems-list-item">Незнание грамматики</li>
        <li class="problems-list-item">
          Неумение воспринимать устную английскую речь
        </li>
        <li class="problems-list-item">
          Скупой словарный запас для написания сочинения
        </li>
        <li class="problems-list-item">Подготовка в одиночку</li>
        <li class="problems-list-item">Отсутствие единого ресурса знаний</li>
        <li class="problems-list-item">Недостаток самоорганизации и лень</li>
      </ul>
    </div>
  </div>
</section>
