<section class="teacher-section" id="teacher">
  <div class="container">
    <h2 class="teacher-title">Преподаватель</h2>
  </div>
  <div class="about-teacher container">
    <picture class="photo">
      <source
        srcset="./images/desktop/1200.jpg 1x, ./images/desktop/1200.jpg 2x"
        media="(min-width:1344px)"
      />
      <source
        srcset="
          ./images/tablet/Teacher768.jpg    1x,
          ./images/tablet/Teacher768@2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/mobile/Teacher320.jpg    1x,
          ./images/mobile/Teacher320@2x.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img src="./images/desktop/1200.jpg" alt="Елена Морева" />
    </picture>
    <div class="teacher-experience">
      <h3 class="teacher-name">Елена Морева</h3>
      <ul class="teacher-experience-list list">
        <li class="teacher-experience-item">
          <div>
            <svg class="icon-teacher" width="24" height="20">
              <use href="./images/svg/sprite.svg#icon-check-mark"></use>
            </svg>
          </div>
          <p>Опыт подготовки учеников к ВНО - 6 лет</p>
        </li>
        <li class="teacher-experience-item">
          <div>
            <svg class="icon-teacher" width="24" height="20">
              <use href="./images/svg/sprite.svg#icon-check-mark"></use>
            </svg>
          </div>
          <p>Собственный результат сдачи ВНО - 197 баллов 2 года подряд</p>
        </li>
        <li class="teacher-experience-item">
          <div>
            <svg class="icon-teacher" width="24" height="20">
              <use href="./images/svg/sprite.svg#icon-check-mark"></use>
            </svg>
          </div>
          <p>
            Сдала на отлично международный аналог ВНО - Кембриджский PET
            (Preliminary English Test)
          </p>
        </li>
      </ul>
      <p class="teacher-experience-text">
        Высшее образование получила в Институте международных отношений НАУ по
        специальности переводчик-аналитик.
      </p>
      <p class="teacher-experience-text">
        В свободное время проходит курсы от лучших университетов мира по
        эффективному преподаванию и методикам написания сочинений.
      </p>
      <p class="teacher-experience-text">
        В числе пройденных: English Grammar and Essay Writing (Berkeley),
        English Grammar&Style (The University of Queesland), How to Write an
        Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of
        Teaching (GEMS education), Powerful Tools for Teaching and Learning
        (University of Houston).
      </p>
      <button class="teacher-link" data-modal-open>
        Cambrige English Entry Level Certificate
      </button>
      <div class="teacher-backdrop is-hidden" data-modal data-modal-close>
        <div class="modal-certificate">
          <img src="./images/desktop/cambrige.jpg" alt="Сертификат Кембриджа" />
          <img src="./images/desktop/certificate.jpg" alt="ЗНО" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="guarantee-section">
  <h2 class="guarantee-title">Мы гарантируем</h2>
  <div class="guarantee">
    <div class="container">
      <ul class="guarantee-list">
        <li class="guarantee-item list">
          <div>
            <svg class="icon-teacher" width="15" height="20">
              <use href="./images/svg/sprite.svg#icon-fire"></use>
            </svg>
          </div>
          <p>
            Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
            тестировании. Иначе мы вернем деньги.<span class="tooltip-container"
              >*
              <span class="tooltip"
                >При условии посещения 80% занятий и выполнения 100%
                заданий</span
              ></span
            >
          </p>
        </li>
        <li class="guarantee-item list">
          <div>
            <svg class="icon-teacher" width="15" height="20">
              <use href="./images/svg/sprite.svg#icon-fire"></use>
            </svg>
          </div>
          <p>
            Ты научишься писать сочинения минимум на 10 баллов из 14.
            <span class="orange-text"
              >В то время как 20% учеников получили за сочинение 0.</span
            >
          </p>
        </li>
        <li class="guarantee-item list">
          <div>
            <svg class="icon-teacher" width="15" height="20">
              <use href="./images/svg/sprite.svg#icon-fire"></use>
            </svg>
          </div>
          <p>
            Ты научишься писать сочинения минимум на 10 баллов из 14.
            <span class="orange-text"
              >В то время как 20% учеников получили за сочинение 0.</span
            >
          </p>
        </li>
        <li class="guarantee-item list">
          <div>
            <svg class="icon-teacher" width="15" height="20">
              <use href="./images/svg/sprite.svg#icon-fire"></use>
            </svg>
          </div>
          <p>
            Ты будешь заниматься в своем районе. Мы выберем место проведения
            занятий после формирования команд.
          </p>
        </li>
        <li class="guarantee-item list">
          <div>
            <svg class="icon-teacher" width="15" height="20">
              <use href="./images/svg/sprite.svg#icon-fire"></use>
            </svg>
          </div>
          <p>
            Команды будут сформированы, исходя из начального уровня учеников. Мы
            учитываем особенности каждого ученика.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
