.feature {
  margin-bottom: 50px;

  .container {
    @include for-size(tablet) {
      padding: 0 40px;
    }

    @include for-size(desktop) {
      padding: 0;
      margin-bottom: 144px;
    }
  }

  &-title {
    @include vis-hidden;
  }

  &-block-icon {
    @include flex(flex, center, center);
    margin-right: 10px;

    @include for-size(tablet) {
      margin-right: 15px;
    }

    @include for-size(desktop) {
      margin-right: 0;
    }
  }
}

.feature-icon {
  width: 59px;
  height: 60px;

  @include for-size(desktop) {
    width: 100px;
    height: 102px;
  }
}

.feature-list {
  padding: 0 32px;

  @include for-size(tablet) {
    padding: 0;
    @include flex(flex, center, space-between);
  }
}

.feature-item {
  display: flex;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include for-size(tablet) {
    width: calc((100% - (2 * 21px)) / 3);
    margin-bottom: 0;
  }

  @include for-size(desktop) {
    position: relative;
    width: calc(100% / 3);
  }
}

.feature-text {
  @include font(700, 14px, 1.43, 0.08em);

  @include for-size(desktop) {
    position: absolute;
    top: 20px;
    left: 90px;
    @include font(700, 20px, 1.65, 0.08em);
  }
}
