.phone-logo {
  @include for-size(tablet) {
    display: none;
  }
}

.basic-logo {
  display: none;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 128px;

    @include font(800, 26px, 1.23, 0.04em);
    color: $primary-text-color;

    .icon-logo {
      margin: 0 3px 5px;
      fill: $accent-text-color;
    }

    .descript-logo {
      @include font(700, 8px, 1.25, 0.18em);
      text-transform: uppercase;
    }

    .distinguish-logo {
      color: $accent-text-color;
    }
  }
}
